@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
.ff_poppins {
  font-family: "Poppins", sans-serif;
}
.ff_inter {
  font-family: "Inter", sans-serif;
}
@media (max-width: 1023.5px) {
  .overflow_hidden {
    overflow: hidden;
  }
}
/* ===========================preloader==================== */
.loader {
  --c: no-repeat linear-gradient(#ffffff 0 0);
  background: var(--c), var(--c), black;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}
/* ============================back-to-top===================== */
.updown_animation {
  animation: mover 1s infinite alternate;
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-7px);
  }
}
